* {
    margin: 0;
}

body {
    width: 1440px;
    margin: 0 auto;
}

.container {
    border: 1px dashed red;
    display: flex;
    flex-wrap: wrap;
    gap: .8rem;
    justify-content: space-around;
}

.photo {
    border: 1px solid black;
    flex-basis: 30%;
    height: 200px;
}

.photo img {
    width: 100%;
    height: 100%;
}